<a href="https://colab.research.google.com/github/spshreya/21daysofML/blob/main/DesicionTreePrac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()

Saving salaries.csv to salaries.csv

In [3]:
df = pd.read_csv("salaries.csv")

In [4]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [6]:
df.shape

(16, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

In [9]:
df.describe()

       salary_more_then_100k
count                 16.000
mean                   0.625
std                    0.500
min                    0.000
25%                    0.000
50%                    1.000
75%                    1.000
max                    1.000

In [13]:
x = df.drop('salary_more_then_100k', axis='columns')
y = df['salary_more_then_100k']
x,y

(       company                  job     degree
 0       google      sales executive  bachelors
 1       google      sales executive    masters
 2       google     business manager  bachelors
 3       google     business manager    masters
 4       google  computer programmer  bachelors
 5       google  computer programmer    masters
 6   abc pharma      sales executive    masters
 7   abc pharma  computer programmer  bachelors
 8   abc pharma     business manager  bachelors
 9   abc pharma     business manager    masters
 10    facebook      sales executive  bachelors
 11    facebook      sales executive    masters
 12    facebook     business manager  bachelors
 13    facebook     business manager    masters
 14    facebook  computer programmer  bachelors
 15    facebook  computer programmer    masters, 0     0
 1     0
 2     1
 3     1
 4     0
 5     1
 6     0
 7     0
 8     0
 9     1
 10    1
 11    1
 12    1
 13    1
 14    1
 15    1
 Name: salary_more_then_100k, dtype: int64)

In [14]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le = LabelEncoder()
x['company']= le.fit_transform(x['company'])
x['job']= le.fit_transform(x['job'])
x['degree']=le.fit_transform(x['degree'])
x

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [25]:
from sklearn import model_selection

In [26]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y,test_size=0.3)

In [19]:
from sklearn import tree

In [27]:
clf = tree.DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [28]:
clf.score(x_test,y_test)

0.8

In [29]:
clf.predict([[2,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])